.animatedTitle {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: calc(1rem + 4vw);
  line-height: calc(1rem + 7.5vw);
  margin-bottom: -50px;
  letter-spacing: -3px;
  color: var(--text-color, #fff);
  text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
  .animatedTitle {
    line-height: calc(1rem + 6.5vw);
  }
}

.char {
  position: relative;
  display: inline;
  -webkit-text-fill-color: rgba(128, 128, 128, 0.2);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(var(--text-color, #fff), var(--text-color, #fff));
  background-size: 0% 100%;
}

[data-theme="dark"] .char {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(#fff, #fff);
}

[data-theme="light"] .char {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(#000, #000);
}