.storySection {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--section-background);
  z-index: 0;
}

.storyImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
   clip-path: circle(20% at 50% 50%);
  z-index: 1;
}

.bottomShadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, var(--section-background), transparent);
  opacity: 0;
  z-index: 2;
}

@media (max-width: 768px) {
  .storySection {
    height: 100vh;
    will-change: transform;
  }

  .storyImage {
    object-position: 20%;
  }
}