.container {
  position: relative;
  min-height: 100vh;
  border-radius: 30px;
  overflow: hidden;
  cursor: none;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}