.section {
  height: 100vh;
  background: var(--section-background);
  position: relative;
  overflow: hidden;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 200px 90px 0px 90px;
}

.description {
  margin-top: -200px;
  opacity: .5;
  font-size: 16.6px;
  text-align: center;
  line-height: 1.6;
}

.featuredText {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color, white);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  width: 90vw;
  height: 90vh;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(42, 42, 42, 0.5) 0%, rgba(30, 30, 30, 0.5) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 70px 70px 60px;
  cursor: pointer;
  will-change: transform, filter;
}

[data-theme="light"] .card {
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.8) 0%, rgba(230, 230, 230, 0.8) 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cardContent {
  width: 100%;
}
.cardIcon {
  font-size: 4rem;
  margin-bottom: 20px;
  display: block;
}

.cardTitle {
  font-family: 'Le Murmure', sans-serif;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--text-color, #ffffff);
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.card:nth-child(2) .cardTitle {
  color: var(--text-color, #ffffff);
}

.card:nth-child(2) .cardYear,
.card:nth-child(2) .cardServices {
  color: var(--text-color, white);
  background-color: rgba(88, 88, 88, 0.7);
}

[data-theme="light"] .card:nth-child(2) .cardYear,
[data-theme="light"] .card:nth-child(2) .cardServices {
  background-color: rgba(200, 200, 200, 0.7);
}

.cardLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.cardYear,
.cardServices {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color, white);
  background-color: rgba(88, 88, 88, 0.7);
  border-radius: 50px;
  padding:4px 14px;
}

[data-theme="light"] .cardYear,
[data-theme="light"] .cardServices {
  background-color: rgba(200, 200, 200, 0.7);
}


@media (max-width: 768px) {
  .section {
    height: 100vh;
  }

  .card {
    width: 95%;
    height: 400px;
    padding: 20px 15px;
  }
  
  .cardTitle {
    font-size: 2rem;
  }
  
  .cardDescription {
    font-size: 1rem;
  }
}